<h1>Index de Movies</h1>
<h2>Favorite Movies</h2>
<% @favorite_movies.each do |movie| %>
<p><%= "#{movie.name} / #{movie.year}"%><br><br>
 <%= link_to 'Ver', movie%> |
 <%= link_to 'Editar', edit_movie_path(movie)%> |
 <%= link_to 'Eliminar', movie, method: :delete , data:{confirm:'bo dale!!!'}%>
 <%= button_to 'like',favorite_movie_path(movie)%><br>
 <%= button_to 'dislike',favorite_movie_path(movie),method: :delete%>
 </p>
<%end%>
<br>
<br>
<h2>Regular Movies</h2>
<% @regular_movies.each do |movie| %>
<p><%= "#{movie.name} / #{movie.year}"%><br><br>
 <%= link_to 'Ver', movie%> |
 <%= link_to 'Editar', edit_movie_path(movie)%> |
 <%= link_to 'Eliminar', movie, method: :delete , data:{confirm:'bo dale!!!'}%>
 <%= button_to 'like',favorite_movie_path(movie)%><br>
 <%= button_to 'dislike',favorite_movie_path(movie),method: :delete%>
 </p>
<%end%>
<br>
<br>
<%=link_to "Crear Pelicula", movies_new_path%>
